img{
    width: 30%;
    margin:1.666666666667%
}
nav {
    text-transform: uppercase;
    font-size:1.2em;
    font-weight:bold;
    width: 33%;
    font-family: 'Amatic SC', cursive;
    
   
    border-bottom: 2px solid #f1f1f1;
    margin-left:1.5%;

    
    

}
